@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  font-weight: 600;
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
