@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #f4f4f4;
}

.App-link {
  color: #61dafb;
}

.link,
.details-link {
  text-decoration: none;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  font-weight: 600;
  letter-spacing: 1px;
  background: transparent;
  border: none;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 13px;
  padding: 0 5px;
}

.nav-item .nav-link {
  background: transparent;
  border: none;
}

.nav-item .nav-link .fa-shopping-cart {
  font-size: 15px;
  color: #fff;
}

.nav-item .nav-link .badge {
  font-size: 16px;
  font-weight: 500;
}

.login,
.register,
.orders {
  border-right: 1px solid #6d6d6d;
}

.products {
  flex-wrap: wrap;
  background: #f4f4f4 !important;
}

.card h2 {
  font-size: 14px !important;
}

.product-details h2 {
  font-size: 16px !important;
}

.card {
  min-width: 200px !important;
  box-shadow: -0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: none !important;
}

.card.product {
  max-width: 200px !important;
}

.card-text {
  color: #535557;
  font-size: 12px;
  font-weight: 500;
  text-align: left !important;
}

.card-text.name {
  min-height: 50px;
}

.filter-box {
  height: 260px;
}

.product-details {
  background: #f4f4f4;
  padding: 15px 35px;
}

.detail-box {
  background: #fff;
}

.product-img {
  height: 200px;
  width: 100%;
}

.details-img-wrapper {
  flex: 1.2;
}

.details-info-wrapper {
  flex: 1;
  padding: 0 15px;
}

.details-img {
  height: 480px !important;
  width: 100%;
}

.details-info-text {
  color: #535557;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  text-align: left !important;
}

.details-link {
  text-transform: capitalize;
  color: #0979bf;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  text-align: left !important;
}

.stock-info {
  font-weight: 500;
  padding: 0;
  text-align: left !important;
}

.price,
.title {
  color: #535557;
  font-weight: 600;
  font-size: 16px;
  text-align: left !important;
}

.actions .btn:hover {
  color: #157247;
  background-color: #202529;
  border: 1px solid #202529;
}

.actions .buy.btn {
  font-weight: 600;
  font-size: 13px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
